.ticket{
    border: 2px solid rgb(238, 73, 8);
    border-radius: 20px;
}
div{
    background-image: url(luto.jpg);
}
button{
    color: rgb(241, 56, 9);
   
}
h3{
    color: rgb(255, 47, 255);
}
span{
    color: rgb(125, 8, 235);
    
}

  
  